<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic", rel="stylesheet")
        title Email
    body
        .wrapper
            .maincontent
                .header
                    .header__container.container
                        .header__top
                            a(href="#").header__logo.logo
                                img(src="./img/logo.png", alt="Логотип").header__logo-img
                            a(href="#").header__btn.btn Заказать звонок
                        .header__title
                            .header__title-1 Давайте знакомиться
                            .header__title-2 Творческая группа
                            .header__title-3 Tower Art Group
                .hello
                    .hello__container.container
                        .hello__welcome
                            .hello__welcome-photo
                                img(src="./img/welcome/welcome-photo.jpg", alt="Фотография").hello__welcome-img
                            .hello__welcome-desc
                                .hello__welcome-title
                                    .hello__welcome-title-text Приветствую вас!
                                    .hello__welcome-title-separator
                                .hello__welcome-text
                                    p Меня зовут #[strong Дианова Елена]. Я основатель #[strong Группы компаний «Tower Art Group»].
                                    p От лица команды #[strong «Tower Art Group»] предлагаю дружбу и взаимовыгодное сотрудничество. Хочу, чтобы вы обращались в #[strong «Tower Art Group»] и чувствовали себя по-домашнему, как у старого друга в гостях. Скажу так. Когда вы придёте к нам, всю рутину мы возьмём на себя. Каждый специалист #[strong «Tower Art Group»] скидывает мешки забот с ваших плеч, чтобы путь к реализации вашего проекта был максимально простым.
                    .hello__container-gallery.container
                        .hello__gallery
                            img.hello__gallery-pic.hello__gallery-pic-1(src="./img/welcome/welcome-gallery-1.jpg", alt="Картинка с интерьером")
                            img.hello__gallery-pic.hello__gallery-pic-2(src="./img/welcome/welcome-gallery-2.jpg", alt="Картинка с домом")
                            img.hello__gallery-pic.hello__gallery-pic-3(src="./img/welcome/welcome-gallery-3.jpg", alt="Картинка с ландшафтом")
                .advantages
                    .services
                        .services__container.container
                            .services__title
                                .services__title__separator.services__title__separator-left
                                .services__title-text Наши услуги
                                .services__title__separator.services__title__separator-right
                            .services__icons
                                .services__icons__row.services__icons__row-1
                                    .services__icons__item.services__icons__item-01
                                        img(src="./img/services/services-icon-1.png", alt="").services__icons__img.services__icons__img-01
                                        .services__icons__text Индивидуальный проект дома
                                    .services__icons__item.services__icons__item-02
                                        img(src="./img/services/services-icon-2.png", alt="").services__icons__img.services__icons__img-02
                                        .services__icons__text Дизайн интерьера
                                    .services__icons__item.services__icons__item-03
                                        img(src="./img/services/services-icon-3.png", alt="").services__icons__img.services__icons__img-03
                                        .services__icons__text Ландшафтный дизайн и Фитодизайн
                                    .services__icons__item.services__icons__item-04
                                        img(src="./img/services/services-icon-4.png", alt="").services__icons__img.services__icons__img-04
                                        .services__icons__text Авторский надзор
                                .services__icons__row.services__icons__row-2
                                    .services__icons__item.services__icons__item-05
                                        img(src="./img/services/services-icon-5.png", alt="").services__icons__img.services__icons__img-05
                                        .services__icons__text Сопровождение проекта
                                    .services__icons__item.services__icons__item-06
                                        img(src="./img/services/services-icon-6.png", alt="").services__icons__img.services__icons__img-06
                                        .services__icons__text Согласование перепланировки жилых и нежилых помещений
                    .advantages-section
                        .advantages__container.container
                            .advantages__title Почему именно мы?
                            .advantages__content
                                .advantages__item.advantages__item-1
                                    .advantages__icon
                                        img(src="./img/services/tick.png", alt="иконка").advantages__pic
                                    .advantages__desc
                                        .advantages__subtitle Сроки -
                                        .advantages__text Вы экономите свое время, так как используете нашу услугу
                                .advantages__item.advantages__item-2
                                    .advantages__icon
                                        img(src="./img/services/tick.png", alt="иконка").advantages__pic
                                    .advantages__desc
                                        .advantages__subtitle Цена -
                                        .advantages__text Мы экономим Ваши деньги. У нас работают свои подрядчики, благодаря этому стоимость наших услуг в среднем на 10% ниже.
                                .advantages__item
                                    .advantages__icon
                                        img(src="./img/services/tick.png", alt="иконка").advantages__pic
                                    .advantages__desc
                                        .advantages__subtitle Качество -
                                        .advantages__text В штате команды нет места случайным людям без опыта. Каждый сотрудник влюблен в свое дело, поэтому о заурядном и типовом исполнении даже речи быть не может.
                .order
                    .order__container.container
                        .order__text
                            p Группа компаний #[strong «Tower Art Group»] проектирует и строит дома под ключ, занимается разработкой дизайн проектов и отделкой, проектирует и реализует ландшафтный дизайн, малые архитектурные формы, от мобильных до стационарных, разрабатывает проекты по созданию декоративных водоемов, фитодизайн в интерьере и зимние сады. 
                            p Группа компаний #[strong «Tower Art Group»] предоставляет полный спектр услуг по согласованию перепланировки (переустройства) в любых административных инстанциях города Москвы и Московской области.
                            br
                            p #[strong А ещё мы следим за тенденциями моды в мире интерьеров, архитектуры, ландшафтного дизайна и фитодизайна. Стабильно посещаем выставки, чтобы выбрать лучшие решения для Вас.]
                            br
                            p #[strong Лучше я докажу на деле, а не на словах, что с нами работать в кайф.]
                            br
                            p #[strong Жмите на кнопку и оставляйте заявку. В течение 10-15 минут мы свяжемся с вами. Договоримся о встрече в удобное для Вас время и определим место, где и обсудим детали сотрудничества.]
                        .order__buttons
                            a.order__btn.order__btn-email(href="mailto:#")
                                .order__btn-email-text  Оставить заявку
                            a.order__btn.order__btn-call(href="tel:+74957732133")
                                .order__btn-text А лучше звоните сразу по телефону:
                                .order__btn-phone +7 495 773 -21- 33
                .consult
                    .consult__container.container
                        .consult__title На консультации мы с Вами обсудим:
                        ul.consult__list
                            li.consult__item 
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc состав проекта;
                            li.consult__item
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc Ваши предпочтения по стилю и колористике;
                            li.consult__item
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc примеры наших проектов;
                            li.consult__item
                                .consult__icon
                                    .consult__icon-item.consult__icon-item-big &#8211;
                                .consult__desc новости из мира дизайна, архитектуры, ландшафтного дизайна и фитодизайна;
                            li.consult__item
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc акции и выгодные предложения от официальных дилеров.
                        .consult__text До встречи!
                .footer
                    .footer__container.container
                        a(href="#").footer__logo.logo
                            img(src="./img/logo.png", alt="Логотип").footer__logo-img.logo-img
                        .footer__times
                            .footer__times-row-1 ПН – ПТ с 10-00 до 22-00
                            .footer__times-row-2 СБ с 11-00 до 20-00
                            .footer__times-row-3 ВС - выходной
                        .footer__designed
                            .footer__designed-logo
                                img(src="./img/footer/design-logo.png", alt="").footer__designed-logo-img
                        a(href="#").footer__btn.btn Перейти на сайт