<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title Email
    body
        .wrapper
            .maincontent
                .header
                    .header__container.container
                        .header__top
                            a(href="#").header__logo.logo
                                img(src="./img/logo.png", alt="Логотип").header__logo-img.logo-img
                            a(href="#").header__btn.btn Заказать звонок
                        .header__title
                            .header__title-1 Давайте знакомиться
                            .header__title-2 Творческая группа Tower Art
                            .header__title-3 Group
                .hello
                    .hello__container
                        .hello__welcome
                            .hello__welcome-photo
                                img(src="./img/welcome/welcome-photo.jpg", alt="Фотография").hello__welcome-img
                            .hello__welcome-desc
                                .hello__welcome-title
                                    .hello__welcome-title-text Приветствую вас!
                                    .hello__welcome-title-separator
                                .hello__welcome-text
                                    p Меня зовут #[strong Дианова Елена]. Я основатель #[strong Группы компаний «Tower Art Group»].
                                    p От лица команды #[strong «Tower Art Group»] предлагаю дружбу и взаимовыгодное сотрудничество. Хочу, чтобы вы обращались в #[strong «Tower Art Group»] и чувствовали себя по-домашнему, как у старого друга в гостях. Скажу так. Когда вы придёте к нам, всю рутину мы возьмём на себя. Каждый специалист #[strong «Tower Art Group»] скидывает мешки забот с ваших плеч, чтобы путь к реализации вашего проекта был максимально простым.
                    .hello__container-gallery.container
                        .hello__gallery
                            img.hello__gallery-pic(src="./img/welcome/welcome-bg.jpg", alt="Картинка с планировкой")
                .advantages
                    .services
                        .services__container.container
                            .services__title
                                .services__title__separator.services__title__separator-left
                                .services__title-text Наши услуги
                                .services__title__separator.services__title__separator-right
                            ul.services__icons
                                li.services__icons__item.services__icons__item-01
                                    img(src="./img/services/services-icon-7.png", alt="").services__icons__img.services__icons__img-01
                                    .services__icons__text Обследование помещения. Подготовка заключения о возможности выполнения запланированной перепланировки.
                                li.services__icons__item.services__icons__item-02
                                    img(src="./img/services/services-icon-5.png", alt="").services__icons__img.services__icons__img-02
                                    .services__icons__text Подготовка проектной документации для согласования перепланировки объекта в уполномоченных государственных службах.
                                li.services__icons__item.services__icons__item-03
                                    img(src="./img/services/services-icon-8.png", alt="").services__icons__img.services__icons__img-03
                                    .services__icons__text Сопровождение согласования проекта перепланировки в государственных органах. Мосжилинспекция, Мосгаз, СЭС, МЧС, городских администрациях и т.д.
                                li.services__icons__item.services__icons__item-04
                                    img(src="./img/services/services-icon-9.png", alt="").services__icons__img.services__icons__img-04
                                    .services__icons__text Сопровождение проекта перепланировки в БТИ, в том числе получение новых документов технической инвентаризации.
                                li.services__icons__item.services__icons__item-05
                                    img(src="./img/services/services-icon-1.png", alt="").services__icons__img.services__icons__img-05
                                    .services__icons__text.services__icons__text-5 Подготовка технического плана помещения для целей регистрации обновлённых данных в ЕГРП.
                                li.services__icons__item.services__icons__item-06
                                    img(src="./img/services/services-icon-6.png", alt="").services__icons__img.services__icons__img-06
                                    .services__icons__text Сопровождение в Росреестре. Регистрация обновлённых данных об объекте после перепланировки в ЕГРП.
                    .advantages-section
                        .advantages__container.container
                            .advantages__title Почему именно мы?
                            ul.advantages__content
                                li.advantages__item.advantages__item-1
                                    .advantages__icon
                                        img(src="./img/services/tick.png", alt="иконка").advantages__pic
                                    .advantages__desc
                                        .advantages__subtitle Сроки -
                                        .advantages__text Вы экономите свое время, так как используете нашу услугу
                                li.advantages__item.advantages__item-2
                                    .advantages__icon
                                        img(src="./img/services/tick.png", alt="иконка").advantages__pic
                                    .advantages__desc
                                        .advantages__subtitle Цена -
                                        .advantages__text Мы экономим Ваши деньги. У нас работают свои подрядчики, благодаря этому стоимость наших услуг в среднем на 10% ниже.
                                li.advantages__item
                                    .advantages__icon
                                        img(src="./img/services/tick.png", alt="иконка").advantages__pic
                                    .advantages__desc
                                        .advantages__subtitle Качество -
                                        .advantages__text В штате команды нет места случайным людям без опыта. Каждый сотрудник влюблен в свое дело, поэтому о заурядном и типовом исполнении даже речи быть не может.
                .order
                    .order__container.container
                        .order__text
                            p Группа компаний #[strong Tower Art Group] предоставляет полный спектр услуг по согласованию перепланировки (переустройства) в любых административных инстанциях города Москвы и Московской области. По окончании работ заказчик получает на руки полный комплект документов, подтверждающий законность выполненной перепланировки. 
                            br
                            p Обращаться к нам за услугами по согласованию перепланировки можно на любом этапе, в том числе, если перепланировка уже выполнена, однако, лучше всего — на этапе, когда перепланировка только планируется. Тогда мы сразу проверим эскиз/ваши пожелания на соответствие требованиям нормативно-правовых актов и скорректируем проект, если потребуется. В любом случае мы готовы взяться и когда перепланировка уже выполнена либо уже начат ремонт, и даже, если уже есть предписание об устранении несогласованной перепланировки.
                            br
                            p Мы работаем на основании официального договора. Сроки и цены на согласование перепланировки жилых и нежилых помещений рассчитываются индивидуально в зависимости от сложности перепланировки, количества инстанций, требующихся для согласования и иных работ, которые необходимо выполнить для клиента. В любом случае мы всегда готовы рассмотреть варианты по снижению стоимости для клиента, если это возможно.
                        .order__buttons
                            a.order__btn.order__btn-email(href="mailto:#")
                                .order__btn-email-text  Оставить заявку
                            a.order__btn.order__btn-call(href="tel:+74957732133")
                                .order__btn-text А лучше звоните сразу по телефону:
                                .order__btn-phone +7 495 773 -21- 33
                .consult
                    .consult__container.container
                        .consult__title На консультации мы с Вами обсудим:
                        ul.consult__list
                            li.consult__item.consult__item-1
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc Каково назначение Вашего помещения;
                            li.consult__item.consult__item-2
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc В каких целях планируется использовать Ваше помещение;
                            li.consult__item.consult__item-3
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc Где расположено Ваше помещение;
                            li.consult__item.consult__item-4
                                .consult__icon
                                    .consult__icon-item.consult__icon-item-big &#8211;
                                .consult__desc Имеются ли у Вас уже выполненные перепланировки, которые Вы не согласовывали;
                            li.consult__item.consult__item-5
                                .consult__icon
                                    .consult__icon-item.consult__icon-item-big &#8211;
                                .consult__desc В целях производства перепланировки планируете ли Вы затрагивать несущие конструкции здания;
                            li.consult__item.consult__item-6
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc Требуется ли Вам внести новые сведения о помещении в Росреестр;
                            li.consult__item.consult__item-7
                                .consult__icon
                                    .consult__icon-item.consult__icon-item-big &#8211;
                                .consult__desc Какие работы по перепланировке (переустройству) требуют согласования в инстанциях;
                            li.consult__item.consult__item-8
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc Риски, если не согласовать перепланировку;
                            li.consult__item.consult__item-9
                                .consult__icon
                                    .consult__icon-item &#8211;
                                .consult__desc Документы необходимые для начала работы.
                        .consult__text До встречи!
                .footer
                    .footer__container.container
                        a(href="#").footer__logo.logo
                            img(src="./img/logo.png", alt="Логотип").footer__logo-img.logo-img
                        .footer__times
                            .footer__times-row-1 ПН – ПТ с 10-00 до 22-00
                            .footer__times-row-2 СБ с 11-00 до 20-00
                            .footer__times-row-3 ВС - выходной
                        .footer__designed
                            .footer__designed-logo
                                img(src="./img/footer/design-logo.png", alt="").footer__designed-logo-img
                        a(href="#").footer__btn.btn Перейти на сайт